* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 100;
}

.menu-toggle {
  display: none;
  font-size: 29px;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.menu a:hover {
  color: #d4a367;
}
.logo{
    color: #d4a367;
}
/* Hero */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f7f4;
  text-align: center;
}

.hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.badge {
  display: inline-block;
  background: #f1e7d8;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #dbb07b;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.85;
}

/* Sections */
.section {
  padding: 100px 10%;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.section p{
    font-size: 17px;
}

.light {
  background: #fafafa;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.section-subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 40px;
}

/* Cards */
.cards {
   padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}


strong{
    color: #d4a367;
}

.card {
   
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px #d4a36796;
}

/* Skills */
.skills .skill {
  margin-bottom: 20px;
}

.bar {
  height: 8px;
  background: #eee;
  border-radius: 10px;
}

.bar div {
  height: 100%;
  background: #c2a27c;
  border-radius: 10px;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px #d4a36767;
}

.project-link {
  display: inline-block;
  margin-top: 15px;
  color: #d4a367;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.project-link:hover {
  transform: translateX(5px);
}

/* Contact */
.contact-form {
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #c2a27c;
}

.contact-links {
  margin-top: 30px;
  text-align: center;
}

.contact-links a {
  display: block;
  color: #333;
  text-decoration: none;
  margin: 6px 0;
}


/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #777;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  }

  .menu.active {
    display: flex;
  }
  
  .header {
    padding: 15px 5%;
  }
  
  .section {
    padding: 60px 5%;
  }
}
